services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    networks:
      - nest-network
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000']
      interval: 10s
      retries: 3

    develop:
      watch:
        - action: sync
          path: ./
          target: /app/
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json

networks:
  nest-network:
    name: nest-network
