services:
  db:
    image: postgres:13-alpine
    container_name: rental_management_db
    environment:
      POSTGRES_DB: rental_management
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: hard_password
      TZ: Europe/Warsaw
    ports:
      - "5432:5432"
    networks:
      - nest-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: nestpoint-redis
    environment:
      TZ: Europe/Warsaw
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - nest-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    environment:
      TZ: Europe/Warsaw
    networks:
      - nest-network

networks:
  nest-network:
    name: nest-network

volumes:
  postgres_data:
  redis_data: